body{
	margin: 0;
}
nav ul,
nav li{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul{
	display: flex;
}
.containermenu{
	border-top-width: 1px;
	border-top-style: double;
	border-top-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: double;
	border-bottom-color: #FFFFFF;
}
.menu{
	display: flex;
	justify-content: center;
}
nav a{
	display: block;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 17px;
	font-weight: 400;
	text-decoration:none;
	text-transform: uppercase;
	color: #FFFFFF;
	
}
nav .active a,
nav a:hover{
	background-color:#F8F8F8;
	color: #000000;
}
.corpo{
	height: 450px;
}
footer {
    position:absolute;
    bottom:0;
    width:100%;
    color: #FFFFFF;
    height: 40px;
    text-align: center;
}