body{
	margin: 0;
}
nav ul,
nav li{
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul{
	display: flex;
}
.botaoentrar{
	float: right;
}
.containermenu{
	background-image: url('../images/corpo.png');
	border-top-width: 1px;
	border-top-style: double;
	border-top-color: #FFFFFF;
	border-bottom-width: 1px;
	border-bottom-style: double;
	border-bottom-color: #FFFFFF;
}
.menu{
	display: flex;
	justify-content: center;
}
nav a{
	display: block;
	padding: 10px;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 17px;
	font-weight: 400;
	text-decoration:none;
	text-transform: uppercase;
	color: #FFFFFF;
	
}
nav .active a,
nav a:hover{
	background-color:#F8F8F8;
	color: #000000;
}
.containercorpo{
	margin-top: 20%
}
.footerindex {
	background-image: url('../images/corpo.png');
    position:absolute;
    bottom:0;
    width:100%;
    color: #FFFFFF;
    height: 30px;
    text-align: center;
}
.containerprojeto{
	background-image: url('../images/corpo.png');
	color: #FFFFFF;
	margin-bottom: 20px;
}
.containerestatuto{
	background-image: url('../images/corpo.png');
	color: #FFFFFF;
	margin-bottom: 20px;
	text-align: justify;
}
.tituloprojeto{
	text-align: center;
}
.tituloestatuto{
	text-align: center;
}
.titulosejamembro{
	text-align: center;
}
.conteudosejamembro{
	display: flex;
	justify-content: center;
}
.planoassociado{
	height: 120px;
	width: 251px;
	text-align: center;
}
ul.romanomaiusculo{
	list-style-type: upper-roman;
}
.containerestatuto a{
	text-decoration: none;
	color: #FFFFFF;
	}
footer  {
    position:relative;
    bottom:0;
    width:100%;
    color: #FFFFFF;
    height: 40px;
    text-align: center;
}
.menumobile{
	display: none;
	width: 40px;
	height: 40px;
	margin-left: 30px;
	margin-top: 10px;
}


.gallery {
-webkit-column-count: 3;
-moz-column-count: 3;
column-count: 3;
-webkit-column-width: 33%;
-moz-column-width: 33%;
column-width: 33%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
	.gallery {
	-webkit-column-count: 1;
	-moz-column-count: 1;
	column-count: 1;
	-webkit-column-width: 100%;
	-moz-column-width: 100%;
	column-width: 100%;
	}
}

@media (max-width: 400px) {
	.btn.filter {
	padding-left: 1.1rem;
	padding-right: 1.1rem;
	}
}

button{
	margin-top: 10px;
	margin-right: 10px;
}

@media only screen and (max-width:950px){

	.cabecalho{
		display: flex;
		align-items: flex-start;
		flex-direction: row;
	}
	
	nav ul{
		flex-direction: column;
		display:none;
	}
	.containermenu{
		margin-top: 10px;
	}

	header{
		height: auto;
	}
	.menumobile{
		display: block;
		margin-left: 100px;
	}
	.containercorpo{
	margin-top: 30%
	}
}
@media only screen and (min-width: 425px) and (max-width:950px){
	.menumobile{
		display: block;
		margin-left: 40px;
	}
	.containercorpo{
	margin-top: 50%
	}
}
@media only screen and (min-width: 375px) and (max-width:425px){
	.menumobile{
		display: block;
		margin-left: 20px;
	}
	.containercorpo{
	margin-top: 80%
	}
}
@media only screen and (min-width: 320px) and (max-width:375px){
	.menumobile{
		display: block;
		margin-left: 10px;
	}
	.containercorpo{
	margin-top: 90%
	}
}