*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #31962C;
    display: flex;
    justify-content: center;
}
.corpo{
    width: 75%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px #000000;
    padding-left: 50px;
    padding-right: 50px;
}
header{
    display: flex;
    align-items: flex-start;
}
.logo{
    margin-right: 100px;
}
.titulo{
    text-align: center;
    font-weight:bolder;
    margin-top: 50px;
    font-size: 20px;
}
nav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
button{
    box-shadow: 0px 5px 7px #4e4e4e;
}
.slider{
    margin-top: 20px;
}
.quadroAvisos{
    display: flex;
    justify-content: space-between;
}
.avisos{
    height: 200px;
    width: 200px;
    box-shadow: 0px 5px 7px #4e4e4e;
}
.tituloAvisos{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    background-color: #31962C;
    color: #FFFFFF;
    height: 30px;
}


